%h2= t('.title')

= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |form|
  = form.inputs do
    = form.input :email
    = form.input :password
    = form.input :remember_me, :as => :boolean, :label => t('.remember_text')
  = form.buttons do
    = form.commit_button t('.commit_button')

= render :partial => "users/shared/links"
