- title t('.title')

%p= t('.text')

%ul
  %li
    = t('.events_amount')
    = @events_count
  %li
    = t('.matters_amount')
    = @matters_count
  %li
    = t('.careers_amount')
    = @careers_count
  %li
    = t('.plans_amount')
    = @plans_count
  %li
    = t('.equipment_amount')
    = @equipment_count
  %li
    = t('.spaces_amount')
    = @spaces_count
  %li
    = t('.events_expired')
    = @expired_events
  %li
    = t('.matters_assigned_to_events')
    = @assigned_matters
  %li
    = t('.free_events_amount')
    = @free_events
  %li
    = t('.spaces_assigned_to_events')
    = @assigned_spaces
  %li
    = t('.spaces_unassigned')
    = @unassigned_spaces
  %li
    = t('.matters_unassigned')
    = @unassigned_matters
  %li
    = t('.calendars_amount')
    = @calendars_count
  %li
    = t('.user_count')
    = @user_count
  %li
    = t('.admin_count')
    = @admin_count
  %li
    = t('.op_count')
    = @op_count
  %li
    = t('.normal_users_count')
    = @normal_users_count

