- title "Space Types"

%table.index
  %tr
    %th Name
    %th Spaces
    %th Actions
  - for space_type in @space_types
    %tr
      %td= space_type.name
      %td= space_type.spaces.size
      %td
        = link_to 'Edit', edit_space_type_path(space_type) if can? :edit, space_type
        = link_to 'Destroy', space_type, :confirm => 'Are you sure?', :method => :delete if can? :destroy, space_type

= will_paginate @space_types
%p= link_to "New Space Type", new_space_type_path, :class => "ui-corner-all button" if can? :create, SpaceType
