- title t('.title')

%table.index
  %tr
    %th= SpaceType.human_attribute_name :name
    %th= SpaceType.human_attribute_name :spaces
    %th= t('shared.actions')
  - for space_type in @space_types
    %tr
      %td= space_type.name
      %td= space_type.spaces.size
      %td
        = link_to t('.links.edit'), edit_space_type_path(space_type) if can? :edit, space_type
        = link_to t('.links.destroy'), space_type, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, space_type

= will_paginate @space_types
%p= link_to t('.links.new'), new_space_type_path, :class => "ui-corner-all button" if can? :create, SpaceType
