- title t('.title')

%table.index
  %tr
    %th= Space.human_attribute_name :name
    %th= Space.human_attribute_name :short_name
    %th= Space.human_attribute_name :description
    %th= Space.human_attribute_name :capacity
    %th= Space.human_attribute_name :space_type
    %th= t('shared.actions')
  - for space in @spaces
    %tr
      %td= space.name
      %td= space.short_name
      %td= space.description
      %td= space.capacity
      %td= space.space_type.name
      %td
        = link_to t('.links.show'), space if can? :read, space
        = link_to t('.links.edit'), edit_space_path(space) if can? :edit, space
        = link_to t('.links.destroy'), space, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, space

= will_paginate @spaces
%p= link_to t('.links.new'), new_space_path, :class => "ui-corner-all button" if can? :create, Space
