%h1= t('.title')

%p#date_time_filter
  - form_tag do
    = t('.labels.date')
    = text_field_tag :date, '', :class => 'ui-date-picker', :size => 8
    = submit_tag(value = t('.buttons.go'))

%div#weekly-view
  %div.weekly-header
    = weekly_calendar([], :date => @date, :include_24_hours => false, :only_header => true, :main_title => @date.strftime("%d-%m-%Y")) do |w|
      = w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate|
        =  link_to event.name, event_path(event.id)

  %div.weekly-clean-big
    - @equipments.each do |equipment|
      = weekly_calendar(equipment.equipment_events.where(['dtstart > ? AND dtend < ? AND equipment_id = ?', @date.beginning_of_day, @date.end_of_day, equipment.id]).to_a, :date => @date, :include_24_hours => false, :row_title => equipment.name, :disable_day_name => true, :disable_onclick => true) do |w|
        = w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate|
          %div#event-link
            = event.name
