- title "Equipment"

%table.index
  %tr
    %th Name
    %th Description
    %th Actions
  - for equipment in @equipment
    %tr
      %td= equipment.name
      %td= equipment.description
      %td
        = link_to 'Edit', edit_equipment_path(equipment) if can? :edit, equipment
        = link_to 'Destroy', equipment, :confirm => 'Are you sure?', :method => :delete if can? :destroy, equipment

= will_paginate @equipment
%p= link_to "New Equipment", new_equipment_path, :class => "ui-corner-all button" if can? :create, Equipment
