- title t('.title')

%table.index
  %tr
    %th= Equipment.human_attribute_name :name
    %th= Equipment.human_attribute_name :description
    %th= t('shared.actions')
  - for equipment in @equipment
    %tr
      %td= equipment.name
      %td= equipment.description
      %td
        = link_to t('.links.edit'), edit_equipment_path(equipment) if can? :edit, equipment
        = link_to t('.links.destroy'), equipment, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, equipment
        = link_to t('.links.assign_event'), assign_event_equipment_path(equipment.id)


= will_paginate @equipment
%p
  = link_to t('.links.new'), new_equipment_path, :class => "ui-corner-all button" if can? :create, Equipment

