%h1= t('.title')

= semantic_form_for @equipment_event, :url => create_single_event_equipment_path(params[:id]) do |form|
  = form.inputs do
    = form.input :name, :as => :string
    = form.input :date, :as => :date_picker
    = form.input :start_hour, :as => :time
    = form.input :end_hour, :as => :time
    = form.input :equipment_id, :as => :hidden, :input_html => {:value => params[:id]}
  = form.buttons do
    = form.commit_button t('.commit_button')