- title "Careers"

%table.index
  %tr
    %th Name
    %th Short name
    %th Plan
    %th Actions
  - for career in @careers
    %tr
      %td= career.name
      %td= career.short_name
      %td= career.plan.name
      %td
        = link_to 'Show', career
        = link_to 'Edit', edit_career_path(career)
        = link_to 'Destroy', career, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Career", new_career_path
