- title "Career"

%p
  %strong Name:
  = @career.name
%p
  %strong Short Name:
  = @career.short_name

%p
  = link_to "Edit", edit_career_path(@career), :class => "ui-corner-all button"
  = link_to "Destroy", @career, :confirm => 'Are you sure?', :method => :delete, :class => "ui-corner-all button"
  = link_to "View All", careers_path, :class => "ui-corner-all button"
