%h2= t('.title')

= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |form|
  = form.inputs do
    = form.input :email
  = form.buttons do
    = form.commit_button t('.commit_button')

= render :partial => "users/shared/links"
