%table.index
  %tr
    %th= Matter.human_attribute_name(:name)
    %th= Matter.human_attribute_name(:year)
    %th= Matter.human_attribute_name(:short_name)
    %th= t('shared.actions')
  - for matter in matters
    %tr
      %td= matter.name
      %td= matter.year
      %td= matter.short_name
      %td
        = link_to t('.links.show'), matter if can? :read, matter
        = link_to t('.links.edit'), edit_matter_path(matter) if can? :edit, matter
        = link_to t('.links.destroy'), matter, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, matter
