%table.index
  %tr
    %th Name
    %th Year
    %th Short name
    %th Actions
  - for matter in matters
    %tr
      %td= matter.name
      %td= matter.year
      %td= matter.short_name
      %td
        = link_to 'Show', matter if can? :read, matter
        = link_to 'Edit', edit_matter_path(matter) if can? :edit, matter
        = link_to 'Destroy', matter, :confirm => 'Are you sure?', :method => :delete if can? :destroy, matter
