%table.index
  %tr
    %th Name
    %th Date
    %th Starts
    %th Ends
    %th Space
    %th Actions
  - for event in occurrences
    %tr
      %td= event.name
      %td= event.dtstart.strftime '%d-%m-%Y'
      %td= event.dtstart.strftime '%H:%M'
      %td= event.dtend.strftime '%H:%M'
      %td
        - if event.related_object.space
          = event.related_object.space.name
        - else
          Not assigned
      %td
        = link_to 'Show', event_path(event.related_object.id) if can? :read, event.related_object
        = link_to 'Edit', edit_event_path(event.related_object.id) if can? :edit, event.related_object