- title "Matters"

%table.index
  %tr
    %th Name
    %th Short name
    %th Career
    %th Year
    %th Actions
  - for matter in @matters
    %tr
      %td= matter.name
      %td= matter.short_name
      %td= matter.career.name
      %td= matter.year
      %td
        = link_to 'Show', matter
        = link_to 'Edit', edit_matter_path(matter)
        = link_to 'Destroy', matter, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Matter", new_matter_path
