- title t('.title')

%ul
  %li
    %strong= Matter.human_attribute_name(:name) + ':'
    = @matter.name
  %li
    %strong= Matter.human_attribute_name(:short_name) + ':'
    = @matter.short_name
  %li
    %strong= Matter.human_attribute_name(:career) + ':'
    = @matter.career.name
  %li
    %strong= Matter.human_attribute_name(:plan) + ':'
    = @matter.career.plan.name
  %li
    %strong= Matter.human_attribute_name(:year) + ':'
    = @matter.year

%hr

%p
  %strong= t('.events_list')
  - if @matter.occurrences.empty?
    %br
    %i= t('.no_events')
  - else
    = render :partial => 'occurrences', :locals => {:occurrences => @matter.occurrences}


%p
  = link_to t('.links.edit'), edit_matter_path(@matter), :class => "ui-corner-all button" if can? :edit, @matter
  = link_to t('.links.destroy'), @matter, :confirm => t('shared.destroy_confirmation'), :method => :delete, :class => "ui-corner-all button" if can? :destroy, @matter
  = link_to t('.links.back'), matters_path, :class => "ui-corner-all button" if can? :read, Matter
