- title t('.title')

- semantic_form_for @user do |f|
  = f.inputs :email, :username, :full_name
  - f.inputs do
    = f.input :role, :collection => User.roles
  = f.buttons

%p
  = link_to t('.links.show'), @user, :class => "ui-corner-all button" if can? :read, @user
  = link_to t('.links.back'), users_path, :class => "ui-corner-all button" if can? :read, User
