- title "Edit User"

- semantic_form_for @user do |f|
  = f.inputs :email, :username, :full_name
  - f.inputs do
    = f.input :role, :collection => User.roles
  = f.buttons

%p
  = link_to "Show", @user, :class => "ui-corner-all button" if can? :read, @user
  = link_to "View All", users_path, :class => "ui-corner-all button" if can? :read, Users
