- title t('.title')

%table.index
  %tr
    %th= User.human_attribute_name(:username)
    %th= User.human_attribute_name(:full_name)
    %th= User.human_attribute_name(:email)
    %th= User.human_attribute_name(:role)
    %th= t('shared.actions')
  - for user in @users
    %tr
      %td= user.username
      %td= user.full_name
      %td= user.email
      %td= t("shared.roles.#{user.role}")
      %td
        = link_to t('.links.show'), user if can? :read, user
        = link_to t('.links.edit'), edit_user_path(user) if can? :edit, user
        = link_to t('.links.destroy'), user, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, user
        = link_to t('.links.reset_pass'), user_reset_pass_path(user) if can? :reset_pass, user

= will_paginate @users
%p= link_to t('.links.new'), new_user_path, :class => "ui-corner-all button" if can? :create, User