- title "Reset pass"
%h2 User Data
%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Full name:
  = @user.full_name
%hr
%p
  Use the next form to update the password of the user.
- semantic_form_for @user, :url => user_update_pass_path do |f|
  - f.inputs do
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
  = f.buttons