- title t('.title')

%ul
  %li
    %strong= User.human_attribute_name(:email) + ':'
    = @user.email
  %li
    %strong= User.human_attribute_name(:created_at) + ':'
    = l(@user.created_at, :format => :long)
  %li
    %strong= User.human_attribute_name(:last_sign_in_at) + ':'
    = l(@user.last_sign_in_at, :format => :long)
  %li
    %strong= User.human_attribute_name(:username) + ':'
    = @user.username
  %li
    %strong= User.human_attribute_name(:full_name) + ':'
    = @user.full_name
  %li
    %strong= User.human_attribute_name(:role) + ':'
    = t("shared.roles.#{@user.role}")

= link_to t('.links.edit'), edit_user_registration_path, :class => "ui-corner-all button" if can? :edit, @user
