- title t('.title')

%p= t('.text')
%p= t('.text2')
%p= t('.text3')
%p= t('.text4')
%p= t('.text5')

%p
  %strong= t('.import')
  %ul
    %li= link_to SpaceType.model_name.human, import_space_types_path
    %li= link_to Space.model_name.human, import_spaces_path
    %li= link_to Plan.model_name.human, import_plans_path
    %li= link_to Career.model_name.human, import_careers_path
    %li= link_to Matter.model_name.human, import_matters_path

