- title t('.title')

%p= t('.text')
%p= t('.text2')
%p= t('.text3')
%p= t('.text4')

%p
  = link_to t('.links.download_tempalte'), '/import_templates/plans.xls', :target => 'blank'

- semantic_form_for :plans, :url => importer_upload_plans_path, :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :file, :label => t('.labels.file'), :as => :file, :required => true
  - f.buttons do
    = f.commit_button t('.upload')