%p.preview_text= t('.text')

= link_to t('.links.print_page'), 'javascript:window.print()', :class => 'print-link'

- if @title
  %h1= @title

%div#weekly-view-print
  = weekly_calendar(@events, :date => @date, :include_24_hours => false, :main_title => '') do |w|
    = w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate|
      = event.name_with_options(@display_options)

= link_to t('.links.print_page'), 'javascript:window.print()', :class => 'print-link'