%h1 Generate Calendar

%p
  You can generate a calendar for specific events using this section. Find the events you
  want to put into the calendar and then generate the printable view of them. Fill in all
  or some of the values on the next form to search events.

= semantic_form_for :search, :url => generate_calendar_events_path, :remote => true do |form|
  = form.inputs "Search", :class => 'separated' do
    = form.input :calendar_id, :as => :select, :collection => Calendar.all, :required => false
    = form.input :plan, :as => :select, :collection => Plan.all, :required => false
    = image_tag 'loading.gif', :class => "loading-icon-small career-loading"
    = form.input :career, :as => :select, :collection => [], :required => false
    = form.input :space_id, :label => 'Space', :as => :select, :collection => Space.all, :required => false
    = form.input :recurrent, :as => :boolean, :required => false
    = form.input :responsable, :as => :string, :required => false
    = form.buttons do
      = form.commit_button 'Search'
      = image_tag 'loading.gif', :class => "search-loading-icon-small search-loading"


%div#search_result
