- title "Events"

%table.index
  %tr
    %th Name
    %th Date
    %th Starts
    %th Ends
    %th Calendar
    %th Actions
  - for event in @events
    %tr
      %td= event.name
      %td= event.dtstart.strftime '%d-%m-%Y'
      %td= event.dtstart.strftime '%H:%M'
      %td= event.dtend.strftime '%H:%M'
      %td= event.calendar.name
      %td
        = link_to 'Show', event
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Event", new_event_path, :class => "ui-corner-all button"
