- title t(".title")

%table.index
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :date
    %th= Event.human_attribute_name :starts
    %th= Event.human_attribute_name :ends
    %th= Event.human_attribute_name :calendar
    %th= t('shared.actions')
  - for event in @events
    %tr
      %td= event.name
      %td= event.dtstart.strftime '%d-%m-%Y'
      %td= event.dtstart.strftime '%H:%M'
      %td= event.dtend.strftime '%H:%M'
      %td= event.calendar.name
      %td
        = link_to t('.links.show'), event if can? :read, event
        = link_to t('.links.edit'), edit_event_path(event) if can? :edit, event
        = link_to t('.links.destroy'), event, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, event


= will_paginate @events
%p
  = link_to t('.links.new'), new_event_path, :class => "ui-corner-all button" if can? :create, Event
  = link_to t('.links.generate_calendar'), generate_calendar_events_path, :class => "ui-corner-all button"
