- title "Event"

%div#event-data

  %ul
    %li
      Name:
      = @event.name
    %li
      Time:
      = "#{@event.dtstart.strftime "%H:%M"} to #{@event.dtend.strftime "%H:%M"}"

    %li
      Date:
      = @event.dtstart.strftime "%A %e, %B, %Y"

    %li
      Matter:
      = @event.matter.nil? ? 'none (free event)' : @event.matter.name

    %li
      Space:
      = @event.space.nil? ? 'Not Assigned' : @event.space.name

    - if @event.recurrent
      %li
        Recurrent?
        = @event.recurrent ? 'Yes' : 'No'

      %li
        Frecuency:
        = "#{@event.freq.capitalize}, skipping #{@event.interval || 0} on each ocurrence"

      %li
        Days of recurrence:
        = @event.byday.blank? ? @event.dtstart.strftime("%A") : @event.byday

      %li
        Recurrences ends at:
        = @event.until_date.strftime "%A %e, %B, %Y"

      %li
        Number of ocurrences:
        = @event.to_rical.occurrences.size

      %li
        Next ocurrence:
        = @event.to_rical.occurrences(:starting => DateTime.now, :count => 1)[0].dtstart.strftime("%d-%m-%Y %H:%M")

%p
  %strong Calendar
  %div.calendar
    %div.calendar_title
      %p
        = link_to '<', {:month => (@date.beginning_of_month - 1).strftime("01-%m-%Y")}, :class => "ui-corner-all button"
        = @date.strftime "%B %Y"
        = link_to '>', {:month => (@date.end_of_month + 1).strftime("01-%m-%Y")}, :class => "ui-corner-all button"
      %p= link_to 'Current Month', {}, :class => "ui-corner-all button"
    - calendar_for @event.to_rical.occurrences, :year => @date.year, :month => @date.month do |occurrence|
      = occurrence.head 'sun', 'mon', 'tus', 'wen', 'thu', 'fry', 'sat'
      - occurrence.day(:day_method => :dtstart) do |day, occurrences|
        = day.day
        - occurrences.each do |o|
          = image_tag "CheckMark.png", :class => 'qtip-able', :qtip_text => "Ocurrence at: #{o.dtstart.strftime('%H:%M')} - #{o.dtend.strftime('%H:%M')}"

%p
  = link_to "Edit", edit_event_path(@event), :class => "ui-corner-all button" if can? :edit, @event
  = link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delet, :class => "ui-corner-all button" if can? :destroy, @event
  = link_to "View All", events_path, :class => "ui-corner-all button" if can? :read, Event
