- title t('.title')

%div#event-data

  %ul
    %li
      = t('.name')
      = @event.name
    %li
      = t('.time')
      = "#{l(@event.dtstart, :format => :short_time)} #{t('.to')} #{l(@event.dtend, :format => :short_time)}"

    %li
      = t('.date')
      = l(@event.dtstart, :format => :long)

    %li
      = t('.matter')
      = @event.matter.nil? ? t('.free_event') : @event.matter.name

    %li
      = t('.space')
      = @event.space.nil? ? t('.not_assigned') : @event.space.name

    - if @event.recurrent
      %li
        = t('.recurrent')
        = @event.recurrent ? t('.yes') : t('.no')

      %li
        = t('.freq')
        = t(".#{@event.freq.downcase}", :count => @event.interval || 0)

      %li
        = t('.byday')
        = @event.byday.blank? ? @event.dtstart.strftime("%A") : @event.byday.split(',').collect{|day| t("shared.days.#{day.downcase}")}.join(', ')

      %li
        = t('.until_date')
        = l(@event.until_date, :format => :long)

      %li
        = t('.occurrence_amount')
        = @event.to_rical.occurrences.size

      %li
        = t('.next_occurrence')
        - if @event.to_rical.occurrences(:starting => DateTime.now, :count => 1).any?
          = l(@event.to_rical.occurrences(:starting => DateTime.now, :count => 1)[0].dtstart, :format => :long)
        - else
          Ninguna

%p
  %strong= t('.calendar')
  %div.event_calendar
    %div.calendar_title
      %p
        = link_to '<', {:month => (@date.beginning_of_month - 1).strftime("01-%m-%Y")}, :class => "ui-corner-all button"
        = l(@date, :format => :short)
        = link_to '>', {:month => (@date.end_of_month + 1).strftime("01-%m-%Y")}, :class => "ui-corner-all button"
      %p= link_to t('.links.current_month'), {}, :class => "ui-corner-all button"
    - calendar_for @event.to_rical.occurrences, :year => @date.year, :month => @date.month do |occurrence|
      = occurrence.head t('date.abbr_day_names')[0], t('date.abbr_day_names')[1], t('date.abbr_day_names')[2], t('date.abbr_day_names')[3], t('date.abbr_day_names')[4], t('date.abbr_day_names')[5], t('date.abbr_day_names')[6]
      - occurrence.day(:day_method => :dtstart) do |day, occurrences|
        = day.day
        - occurrences.each do |o|
          = image_tag "CheckMark.png", :class => 'qtip-able', :qtip_text => t('.qtip', :date => l(o.dtstart, :format => :short_date), :start => l(o.dtend, :format => :short_time), :end => l(o.dtend, :format => :short_time))

%p
  = link_to t(".links.edit"), edit_event_path(@event), :class => "ui-corner-all button" if can? :edit, @event
  = link_to t('.links.destroy'), @event, :confirm => t('shared.destroy_confirmation'), :method => :delet, :class => "ui-corner-all button" if can? :destroy, @event
  = link_to t('.links.back'), events_path, :class => "ui-corner-all button" if can? :read, Event
