- title "Event"

%p
  %strong Name:
  = @event.name

%p
  %strong Matter:
  = @event.matter.nil? ? 'none (free event)' : @event.matter.name

%p
  %strong Space:
  = @event.space.nil? ? 'Not Assigned' : @event.space.name

- if @event.recurrent
  %p
    %strong RRULE:
    = @event.reccurrence_rule.to_rical

%p
  %strong Occurrences
  %div.calendar
    %div.calendar_title
      = link_to '<', :month => (@date.beginning_of_month - 1).strftime("01-%m-%Y")
      = @date.strftime "%B %Y"
      = link_to '>', :month => (@date.end_of_month + 1).strftime("01-%m-%Y")
      %br
      = link_to 'Current Month'
    - calendar_for @event.to_rical.occurrences, :year => @date.year, :month => @date.month do |occurrence|
      = occurrence.head 'sun', 'mon', 'tus', 'wen', 'thu', 'fry', 'sat'
      - occurrence.day(:day_method => :dtstart) do |day, occurrences|
        = day.day
        - occurrences.each do |o|
          = image_tag "CheckMark.png"

%p
  = link_to "Edit", edit_event_path(@event)
  |
  = link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", events_path
