
%ul
  %li
    = @event.name
  %li
    = "#{@event.dtstart.strftime('%H:%M')} - #{@event.dtend.strftime('%H:%M')}"
  %li
    = t('.responsible')
    = @event.responsible
  %li
    = t('.recurrent')
    = @event.recurrent ? t('events.shared.positive') : t('events.shared.negative')
  - if @event.recurrent
    %li
      = t('.freq')
      = t("events.shared.#{@event.freq.downcase}", :count => @event.count || 0)
    %li
      - if @event.to_rical.occurrences(:starting => DateTime.now, :count => 1).any?
	= t('.next_occurrence')
	= l(@event.to_rical.occurrences(:starting => DateTime.now, :count => 1)[0].dtstart, :format => :long)
      - else
	Ninguna

  %li
    = t('.space')
    = @event.space.name
  - if @event.matter
    %li
      = t('.matter')
      = @event.matter.name
    %li
      = t('.career')
      = @event.matter.career.name
