%p
  %b Lista de temas

%div.collapsable
  %a.collapse_control{:href => '#none'} General
  %ul.list_content
    %li= link_to 'Indice', '/statics/general/index', :class => 'remote_link', :remote => true
    %li= link_to 'Restricciones', '/statics/general/restrictions', :class => 'remote_link', :remote => true
    %li= link_to 'Acerca de', '/statics/general/about', :class => 'remote_link', :remote => true


%div.collapsable
  %a.collapse_control{:href => '#none'} Calendarios
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/calendars/calendars', :class => 'remote_link', :remote => true
    %li= link_to 'Atributos', '/statics/events/event_attributes'
    %li= link_to 'Ver Eventos', '/statics/events/show_attributes'
    %li= link_to 'Crear Evento', '/statics/events/new_event'
    %li= link_to 'Editar Evento', '/statics/events/edit_event'
    %li= link_to 'Eliminar Evento', '/statics/events/destroy_event'
    %li= link_to 'Generar Calendario', '/statics/events/generate_calendar'


%div.collapsable
  %a.collapse_control{:href => '#none'} Eventos
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/events/events', :class => 'remote_link', :remote => true
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Eventos', '/statics/show_attributes'
    %li= link_to 'Crear Evento', '/statics/new_event'
    %li= link_to 'Editar Evento', '/statics/edit_event'
    %li= link_to 'Eliminar Evento', '/statics/destroy_event'
    %li= link_to 'Generar Calendario', '/statics/generate_calendar'

%div.collapsable
  %a.collapse_control{:href => '#none'} Carreras
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/events'
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Carreras', '/statics/show_attributes'
    %li= link_to 'Crear Carrera', '/statics/new_event'
    %li= link_to 'Editar Carrera', '/statics/edit_event'
    %li= link_to 'Eliminar Carrera', '/statics/destroy_event'

%div.collapsable
  %a.collapse_control{:href => '#none'} Planes
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/events'
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Carreras', '/statics/show_attributes'
    %li= link_to 'Crear Carrera', '/statics/new_event'
    %li= link_to 'Editar Carrera', '/statics/edit_event'
    %li= link_to 'Eliminar Carrera', '/statics/destroy_event'

%div.collapsable
  %a.collapse_control{:href => '#none'} Materias
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/events'
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Carreras', '/statics/show_attributes'
    %li= link_to 'Crear Carrera', '/statics/new_event'
    %li= link_to 'Editar Carrera', '/statics/edit_event'
    %li= link_to 'Eliminar Carrera', '/statics/destroy_event'

%div.collapsable
  %a.collapse_control{:href => '#none'} Espacios
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/spaces/spaces', :class => 'remote_link', :remote => true
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Carreras', '/statics/show_attributes'
    %li= link_to 'Crear Carrera', '/statics/new_event'
    %li= link_to 'Editar Carrera', '/statics/edit_event'
    %li= link_to 'Eliminar Carrera', '/statics/destroy_event'

%div.collapsable
  %a.collapse_control{:href => '#none'} Tipos de Espacio
  %ul.list_content
    %li= link_to 'Descripcion', '/statics/spaces'
    %li= link_to 'Atributos', '/statics/event_attributes'
    %li= link_to 'Ver Carreras', '/statics/show_attributes'
    %li= link_to 'Crear Carrera', '/statics/new_event'
    %li= link_to 'Editar Carrera', '/statics/edit_event'
    %li= link_to 'Eliminar Carrera', '/statics/destroy_event'

