- title "Calendars"

%table.index
  %tr
    %th Name
    %th Actions
  - for calendar in @calendars
    %tr
      %td= calendar.name
      %td
        = link_to 'Show', calendar if can? :read, calendar
        = link_to 'Edit', edit_calendar_path(calendar) if can? :edit, calendar
        = link_to('Destroy', calendar, :confirm => 'Are you sure?', :method => :delete)

= will_paginate @calendars
%p= link_to "New Calendar", new_calendar_path, :class => "ui-corner-all button" if can? :create, Calendar
