%h2= t('.title')

= semantic_form_for resource, :as => resource_name, :url => passowrd_path(resource_name), :html => { :method => :put } do |form|
  = form.inputs do
    = form.input :reset_password_token, :as => :hidden
    = form.input :password
    = form.input :passowrd_confirmation, :required => true
  = form.buttons do
    = form.commit_button t('.commit_button')

= render :partial => "users/shared/links"
