%div#filter_options
  = form_tag do
    = label_tag t('.labels.toggle_filter')
    = check_box_tag 'toggle_filter', 1, true, :class => 'toggle_filter'
%div#datetime_event_filter
  %p
    = field_set_tag t('.filter') do
      = form_tag do
        = t('.labels.date')
        = text_field_tag :date, '', :class => 'ui-date-picker', :size => 8
        = t('.labels.space_type')
        = select_tag :space_type, ("<option value=\"\">#{t('.all')}</option>").html_safe + options_from_collection_for_select(SpaceType.all, "id", "name")
        = submit_tag(value = t('.buttons.go'))

