%ul#sddm
  - if user_signed_in?
    - if current_user.role == 'admin'
      %li
        %a{:href => root_path}= t('.home')
      %li
        %a{:href => events_path, :onmouseover => "mopen('events_menu')", :onmouseout => "mclosetime()"}= t('.events')
        %div{:id => "events_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_event_path}= t('.new_event')
      %li
        %a{:href => spaces_path, :onmouseover => "mopen('spaces_menu')"}= t('.spaces')
        %div{:id => "spaces_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_space_path}= t('.new_space')
          %a{:href => space_types_path}= t('.space_types')
          %a{:href => new_space_type_path}= t('.new_space_type')
      %li
        %span{:onmouseover => "mopen('edu_menu')"}= t('.educational')
        %div{:id => "edu_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => careers_path}= t('.careers')
          %a{:href => plans_path}= t('.plans')
          %a{:href => matters_path}= t('.matters')
      %li
        %a{:href => equipment_index_path, :onmouseover => "mopen('equipment_menu')"}= t('.equipment')
        %div{:id => "equipment_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_equipment_path}= t('.new_equipment')
      %li
        %span{:onmouseover => "mopen('misc_menu')"}= t('.misc')
        %div{:id => "misc_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => administration_index_path}= t('.admin')
          %a{:href => calendars_path}= t('.calendars')
          %a{:href => users_path}= t('.users')
          %a{:href => statics_path }= t('.statics')
          %a{:href => user_path(current_user)}= t('.personal_data')
          %a{:href => importer_index_path}= t('.import')
          %a{:href => statics_index_path}= t('.help')
      %li
        %a{:href => destroy_user_session_path}= t('.logout')
    - elsif current_user.role == 'op'
      %li
        %a{:href => root_path}= t('.home')
      %li
        %a{:href => events_path, :onmouseover => "mopen('events_menu')", :onmouseout => "mclosetime()"}= t('.events')
        %div{:id => "events_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_event_path}= t('.new_event')
      %li
        %a{:href => spaces_path, :onmouseover => "mopen('spaces_menu')"}= t('.spaces')
        %div{:id => "spaces_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_space_path}= t('.new_space')
          %a{:href => space_types_path}= t('.space_types')
          %a{:href => new_space_type_path}= t('.new_space_type')
      %li
        %span{:onmouseover => "mopen('edu_menu')"}= t('.educational')
        %div{:id => "edu_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => careers_path}= t('.careers')
          %a{:href => plans_path}= t('.plans')
          %a{:href => matters_path}= t('.matters')
      %li
        %a{:href => equipment_index_path, :onmouseover => "mopen('equipment_menu')"}= t('.equipment')
        %div{:id => "equipment_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => new_equipment_path}= t('.new_equipment')
      %li
        %span{:onmouseover => "mopen('misc_menu')"}= t('.misc')
        %div{:id => "misc_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => calendars_path}= t('.calendars')
          %a{:href => users_path}= t('.users')
          %a{:href => user_path(current_user)}= t('.personal_data')
          %a{:href => importer_index_path}= t('.import')
          %a{:href => statics_index_path}= t('.help')
      %li
        %a{:href => destroy_user_session_path}= t('.logout')
    - else
      %li
        %a{:href => root_path}= t('.home')
      %li
        %a{:href => events_path}= t('.events')
      %li
        %a{:href => spaces_path, :onmouseover => "mopen('spaces_menu')"}= t('.spaces')
        %div{:id => "spaces_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => space_types_path}= t('.space_types')
      %li
        %span{:onmouseover => "mopen('edu_menu')"}= t('.educational')
        %div{:id => "edu_menu", :onmouseover => "mcancelclosetime()", :onmouseout => "mclosetime()"}
          %a{:href => careers_path}= t('.careers')
          %a{:href => plans_path}= t('.plans')
          %a{:href => matters_path}= t('.matters')
      %li
        %a{:href => equipment_index_path}= t('.equipment')
      %li
        %a{:href => user_path(current_user)}= t('.profile')
      %li
        %a{:href => destroy_user_session_path}= t('.logout')
  - else
    %li
      %a{:href => new_user_session_path}= t('.login')


%div{:style => "clear:both"}