%h1 Index

%ul
  %li= link_to 'Careers', careers_path unless Plan.count == 0
  %li= link_to 'Plans', plans_path
  %li= link_to 'Matters', matters_path unless Career.count == 0
  %li= link_to 'Events', events_path unless Calendar.count == 0
  %li= link_to 'Spaces', spaces_path unless SpaceType.count == 0
  %li= link_to 'Space Types', space_types_path
  %li= link_to 'Calendars', calendars_path
  %li= link_to 'Equipment', equipment_index_path

