%table.index
  %tr
    %th= Plan.human_attribute_name :name
    %th= t('shared.actions')
  - for plan in plans
    %tr
      %td= plan.name
      %td
        = link_to t('.links.show'), plan if can? :read, plan
        = link_to t('.links.edit'), edit_plan_path(plan) if can? :edit, plan
        = link_to t('.links.destroy'), plan, :confirm => t('shared.destroy_confirmation'), :method => :delete if can? :destroy, plan
