%p
  = t('.header', :email => @resource.email)
%p= t('.text')
%p= t('.body')
%p= link_to t('.links.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p= t('.footer')