%h2= t('.title')
  
= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put} do |form|
  = form.inputs do
    = form.input :email
    = form.input :username
    = form.input :full_name
    = form.input :password, :hint => t('.hints.password')
    = form.input :password_confirmation
    = form.input :current_password, :hint => t('.hints.current_password'), :required => true
  = form.buttons do
    = form.commit_button t('.commit_button')

%p
  = link_to t('.links.destroy'), registration_path(resource_name), :confirm => t('shared.destroy_confirmation'), :method => :delete

